<?xml version="1.0"?>
<model>
  <name>survey_drone</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Bitupan (KissanVikas Drone Team)</name>
    <email>drone@kissanvikas.com</email>
  </author>
  <description>
    KissanVikas Agricultural Survey Quadcopter Drone (DRONE-001).
    Equipped with 1080p Downward Survey Gimbal Camera, Odometry, and Velocity Flight Controller for Polyhouse Boundary and Interior Scans.
  </description>
</model>
